langchain
streamlit
openai
langchain-openai
langchain-community
sentence-transformers
ctransformers
pypdf
langchain_google_genai
google-generativeai
langchain-chroma
sentence-transformers
wikipedia
psycopg2
sqlalchemy
tiktoken
unstructured[all-docs]
pillow
lxml
pdfminer.six
pi-heif
onnxruntime